<div>
  <div class="title">
    <h1>
      <a [routerLink]="['/']">REVITALITY</a>
    </h1>
  </div>
</div>

<ul>
  <li class="burger" (click)="toggleMenu()">
    <i class="material-icons">{{isMenuOpen ? "close" : "menu"}}</i>
  </li>
</ul>
<ul *ngIf="isMenuOpen">
  <span class="space"></span>
  <li><a id="underline" class="space" [routerLink]="['/']">SOINS</a></li>
  <span class="space"></span>
  <li><a id="underline" [routerLink]="['/']">PRODUITS</a></li>
  <span class="space"></span>
  <li><a id="underline" [routerLink]="['/']">PROMO</a></li>
  <span class="space"></span>
  <li><a id="underline" [routerLink]="['/opinions']">AVIS</a></li>
  <span class="space"></span>
  <li><a id="underline" [routerLink]="['/']">À PROPOS</a></li>
</ul>
