.space{
  margin-left: 2em;
}

.title {
  display: flex;
  justify-content: center;
  background-color: #90c490;
  padding: 1em;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

ul {
  display: flex;
  background-color: #90c490;
  padding: 0.5em;
  margin-bottom: 0em;
  list-style-type: none;
}

a {
  cursor: pointer;
  color: #3a4249;
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
  color: #3a4249;
  text-decoration: none;
}

a:visited {
  color: #3a4249;
}

#underline:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#underline:hover:after {
  width: 100%;
  background: #444;
}

img{
  position:absolute;
  top: 0;
  right: 0;
  margin-top: 0.1em;
  margin-right: 0.5em;
  width: 2.5em;
}
