<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <h1><a [routerLink]="['/']">REVITALITY</a></h1>
    </span>
    <img src="../../assets/Images/REVITALITY.png"/>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a class="space" [routerLink]="['/']"><mat-icon>home</mat-icon></a>
    <a id="underline" class="space" [routerLink]="['/']">SOINS</a>
    <a id="underline" class="space" [routerLink]="['/']">PRODUITS</a>
    <a id="underline" class="space" [routerLink]="['/']">PROMO</a>
    <a id="underline" class="space" [routerLink]="['/']">À PROPOS</a>
    <a id="underline" class="space" [routerLink]="['/opinions']">AVIS CLIENTÈLE</a>
    <a id="underline" class="space" [routerLink]="['/']">OÙ ME TROUVER</a>
  </mat-toolbar-row>
</mat-toolbar>
