.space {
  margin-left: 3em;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
}

mat-toolbar-row {
  margin-bottom: 1em;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

a {
  cursor: pointer;
  color: #3a4249;
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
  color: #3a4249;
  text-decoration: none;
}

a:visited {
  color: #3a4249;
}

#underline:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#underline:hover:after {
  width: 100%;
  background: #444;
}

img{
  position: absolute;
  right: 0;
  margin-top: 1.2em;
  margin-right: 1em;
  width: 13%;
}
